@font-face {
  font-family: Bourgeois;
  src: url("../../assets/fonts/Bourgeois-Book.otf"); 
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: 100%; 
	z-index: -1000;
  background-size: cover;
  background-color: black;
}

.container_404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_1 {
  color: wheat;
  margin-left: 10vh;
  font-family: Bourgeois;
  letter-spacing: 5px;
}

.title_2 {
  color: white;
  margin-left: 15vh;
  font-family: Bourgeois;
  letter-spacing: 5px;
}

@media (min-width: 2560px) {

  .title_1 {
    color: wheat;
    font-size: 100px;
    margin-left: 10vh;
    font-family: Bourgeois;
    letter-spacing: 5px;
  }

  .title_2 {
    margin-left: 10vh;
    font-family: Bourgeois;
    letter-spacing: 15px;
    font-size: 100px;
  }
}

@media (min-width: 768px) {
    .title_1 {
      color: wheat;
      margin-left: 5vh;
      font-family: Bourgeois;
      letter-spacing: 5px;
    }

    .title_2 {
      color: white;
      margin-left: 5vh;
      font-family: Bourgeois;
      letter-spacing: 5px;
    }
  }

@media (max-width: 425px) {
  .bg_video{
      position: fixed; 
      right: 0; 
      bottom: 0;
      background-color: black;
      min-width: 100%; 
      min-height: 100%;
      width: 100%;
      height: 100%; 
      z-index: -1000;
      background-size: cover; 
  }

  .title_1 {
    color: wheat;
    font-size: 15px;
    margin-left: 4.5vh;
    font-family: Bourgeois;
    letter-spacing: 5px;
  }

  .title_2 {
    color: white;
    margin-left: 10vh;
    font-family: Bourgeois;
    letter-spacing: 5px;
  }
}

@media (max-width: 320px) {
  .bg_video{
      position: fixed; 
      right: 0; 
      bottom: 0;
      background-color: wheat;
      min-width: 100%; 
      min-height: 100%;
      width: 100%;
      height: 100%; 
      z-index: -1000;
      background-size: cover; 
  }

  .title_1 {
    color: wheat;
    font-size: 10px;
    margin-left: 4.5vh;
    font-family: Bourgeois;
    letter-spacing: 5px;
  }

  .title_2 {
    color: white;
    text-align: center;
    margin-top: 20vh;
    margin-left: 5vh;
    font-family: Bourgeois;
    letter-spacing: 5px;
  }
}